.cryptos{
    color: #ffd100;
    width: 100%;
    background: #595656;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.crypto-heading{
    padding-top: 50px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
    color: #fff;
}

.cryptos .ul{
    padding: 0 30px;
    display: flex;
    flex-direction: column;
    width: 80%;
}

.li{
    background: #605e5e;
    border: 3px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 35px;
    margin: 5px;
    text-overflow: ellipsis;
}

.image img{
    width: 30px;
    height: 30px;
}

.name{
    width: 20%;
}

.price{
    width: 15%;
}

@media (width < 720px){
    .crypto-heading{
        padding-top: 90px;
        font-size: 2em;
    }
}