.hero{
    height: calc(100vh - 60px);
    background: #998f8f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-left{
    display: flex;
    flex-direction: column;
    flex: 1;
    background: #474343;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 10px;
}

.hero-left .h1{
    font-size: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.hero-left p{
    font-size: 2em;
    font-weight: 600;
}

.hero-left .h2{
    font-size: 1.5em;
}

.hero-right{
    place-items: center;
    flex: 1;
    display: grid;
    grid-template-columns: 2fr 2fr;
    gap: 10px;
}


/* media query for width less then 940px */

@media (width <= 940px) {
    .hero-left h1{
        font-size: 3em;
    }
    
    .hero-left p{
        font-size: 1em;
    }
    
    .hero-left h2{
        font-size: 2em;
    }
}


/* media query for width less then 720px */


@media (width < 720px) {
    .hero{
        height: calc(100vh - 60px);
        background: #998f8f;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hero-left{
        gap: 20px;
        width: 90%;
    }

    .hero-left .h1{
        font-size: 1.7em;
    }

    .hero-left p{
        font-size: 1.2em;
    }

    .hero-left .h2{
        font-size: 1em;
    }
    
}